body {
    background: #353535;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.londrina {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.card {
    color: #ffffff;
    background: #3c6e71;


}

a {
    color: #ffffff;
    text-decoration: none;

}

.button {
    background-color: #ffffff;
    color: #353535;   
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    margin: 3px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #3c6e71;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

a .card-title {
    display: block;
}

a:hover .card-title {
    display:none;
}

a .hover-title::before {
    display: none;
}

a:hover .card {
    color: #3c6e71;
    background: white;
}

a:hover .hover-title::before {
    content: "View Weather";
    display: block;
}
