{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="card g-4 m-4">
      <div class="row g-0">
        <div class="col-md">
          <div class="row">
            <img src="/static/images{{ park.image.url }}" class="img-fluid rounded-start" alt="{{ park.title }}">
          </div>
          <div class="row"> 
          </div>
        </div>
        <div class="col-md">
          <div class="card-body">
            <h3 class="my-5">Current Conditions for {{ park.title }}</h3>
            <img src='https://openweathermap.org/img/wn/{{ data.weather.0.icon }}@2x.png'>   
            <p>Currently: {{ data.weather.0.description }} </p>
            <p>High: {{ data.main.temp_max }} °F</p>
            <p>Low: {{ data.main.temp_min }} °F</p>
            <p>Humidity : {{ data.main.humidity }} %</p>
            <p>Feels Like : {{ data.main.feels_like }} °F</p>
            <p>{{ park.description }}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <p>Sunrise: {{ m }}</p>
                <p>Sunset: {{ n }}</p>
              </div>
              <div class="col">
                <h5>GPS Location</h5>
                <p class="text-muted">Latitude: {{ data.coord.lat }}</p>
                <p class="text-muted">Longitude: {{ data.coord.lon }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
{% endblock %}